<section class="py-2 sm:pt-20">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <dl class="grid grid-cols-1 gap-x-8 gap-y-16 text-center lg:grid-cols-2">
      <div class="mx-auto flex max-w-xs flex-col gap-y-4">
        <dt class="dark:text-slate-300 italic text-base leading-7 text-stone-600">
          22k Gold price per gram
        </dt>
        <dd
          class="dark:text-zinc-100 text-stone-800 order-first text-3xl font-semibold tracking-tight sm:text-5xl"
        >
          ₹ {{price.gold}}
        </dd>
      </div>
      <div class="mx-auto flex max-w-xs flex-col gap-y-4">
        <dt class="dark:text-slate-300 text-base leading-7 text-stone-600 italic">
          1$ US Dollor exchange
        </dt>
        <dd
          class="dark:text-zinc-100 text-stone-800 order-first text-3xl font-semibold tracking-tight sm:text-5xl"
        >
          ₹ {{price.usd}}
        </dd>
      </div>
    </dl>
  </div>
</section>
