{% extends 'base.html' %} {% block content %} {% include 'header.html' %}
<!--====== form =====-->

<div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8">
  <div class="mx-auto max-w-lg text-center">
    <h1 class="text-2xl font-bold sm:text-3xl">Create a company</h1>
    <p class="mt-4 text-gray-500"></p>
  </div>

  <form
    action="{% url 'create_company' %}"
    onsubmit="return validateForm() "
    class="mx-auto mb-0 mt-8 max-w-md space-y-4"
    method="POST"
            >
    {% csrf_token %}
    <div>
      <div class="relative">
        <input
          type="text"
          class="w-full rounded-lg border-gray-200 p-4 text-gray-500 pe-12 text-sm shadow-sm"
          placeholder="Company name"
          name="company_name"
          id="form-check"
        />
      </div>

      <div class="mt-4">
        <select
          id="form-check"
          name="company_industry"
          class="bg-gray-50 border border-gray-300 text-gray-500 text-sm rounded-lg block w-full p-2.5"
        >
          <option selected>Industry</option>
          {% for industry in industries %}
          <option value="{{industry.id}}">{{industry.name|title}}</option>
          {% endfor %}
        </select>
      </div>

      <div class="flex-col py-4 items-center justify-between">
        <button
          type="submit"
          class="w-full inline-block rounded-lg bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br px-5 py-3 text-sm font-medium text-white"
        >
          Create
        </button>
      </div>
    </div>
  </form>
</div>
{% include 'footer.html' %} {% endblock content %}
